
<div class="container">
  
      <label class="sr-only" for="inlineFormInputGroupUsername"></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">🔍</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Pesquisar">
      </div>

  <div class="row">

    <div class="col-4">  
     
      <p>
        <div class="card" style="width: 25rem;">
          <h3 style="text-align: center;">Honda cb 10005</h3>
      <div id="moto1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.honda.com.br/motos/sites/hda/files/2022-02/2_0.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.honda.com.br/motos/sites/hda/files/2022-02/4_0.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.honda.com.br/motos/sites/hda/files/2022-02/1_0.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#moto1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#moto1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
          <div class="card-body">
            <p class="card-text">  Tipo: DOHC, Quatro cilindros, 4 tempos, refrigeração líquida.
              <h4>R$34.000,00</h4>
        <hr>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-outline-danger" type="button">Comprar</button>
        </div>
          </div>
        </div>
       
    </div>

    <div class="col-4">  
     
      <p>
        <div class="card" style="width: 25rem;">
          <h3 style="text-align: center;">Suzuki lander </h3>
      <div id="moto2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://img.olx.com.br/images/08/084912008594931.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://s2.glbimg.com/xDaKdYKVEU-z8wXXoLqk543J5Zk=/0x0:620x413/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_cf9d035bf26b4646b105bd958f32089d/internal_photos/bs/2020/U/r/jpZ1MQQnSE70igFBtyFA/2019-01-14-lander-abs-yamaha-14.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://1.bp.blogspot.com/-9yhmjk3cyEc/XDstJeuyvpI/AAAAAAAARbw/Xk8GzsZX3bkIC7wKI8xdRvv7Vm2_84lGwCLcBGAs/s1600/yamaha-Lander-XTZ-250-ABS-2020%2B%25287%2529.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#moto2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#moto2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
          <div class="card-body">
            <p class="card-text">      Motor: Monocilíndrico, duas válvulas, comando simples no cabeçote (SOHC) com refrigeração mista ar/óleo.
              <h4>R$24.000,00</h4>
        <hr>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-outline-danger" type="button">Comprar</button>
        </div>
          </div>
        </div>
       
    </div>

    <div class="col-4">  
     
      <p>
        <div class="card" style="width: 25rem;">
          <h3 style="text-align: center;">suzuki boulevard m800 </h3>
      <div id="moto3" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://bestcars.com.br/bc/wp-content/uploads/2016/07/Suzuki-M800.jpg" class="d-block w-100" alt="foto1">
          </div>
          <div class="carousel-item">
            <img src="https://www.moto.com.br/img/2007/04/25/img6131-1177504229-v580x435.jpg" class="d-block w-100" alt="foto 2">
          </div>
          <div class="carousel-item">
            <img src="https://img.estadao.com.br/wp/jornal-do-carro/files/2010/08/boulevard.JPG" class="d-block w-100" alt="foto 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#moto3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#moto3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
          <div class="card-body">
            <p class="card-text">      Marca: Suzuki ;Tipo de moto: Cruiser ; Ano:2014 ; ; Cores: Azul, Preta
              <h4>R$31.000,00</h4>
        <hr>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-outline-danger" type="button">Comprar</button>
        </div>
          </div>
        </div>
       
    </div>

   
    


  <div class="row">

    <div class="col-4">  
     
      <p>
        <div class="card" style="width: 25rem;">
          <h3 style="text-align: center;">Mitsubishi Pajero Sport </h3>
      <div id="moto4" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn.motor1.com/images/mgl/Vooz9/s1/4x3/2020-mitsubishi-pajero-sport-facelift.webp" class="d-block w-100" alt="foto1">
          </div>
          <div class="carousel-item">
            <img src="https://revistacarro.com.br/wp-content/uploads/2021/05/pajero-full-legend-edition_2-1280x768.jpg" class="d-block w-100" alt="foto 2">
          </div>
          <div class="carousel-item">
            <img src="https://revistacarro.com.br/wp-content/uploads/2021/05/pajero-full-legend-edition.jpg" class="d-block w-100" alt="foto 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#moto4" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#moto4" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
          <div class="card-body">
            <p class="card-text"> Tanque de combustível: 68 l
              Motor: 2,4 l 4 cilindros em linha Diesel
              Transmissão: Automático de 8 marchas
              Velocidade máxima: 180 km/h
              Dimensões: 4.785 mm C x 1.815 mm L x 1.805 mm A
              <h4>A partir de R$ 327.990</h4>
        <hr>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-outline-danger" type="button">Comprar</button>
        </div>
          </div>
        </div>
       
    </div>

    <div class="col-4">  
     
      <p>
        <div class="card" style="width: 25rem;">
          <h3 style="text-align: center;">Volkswagen Nivus</h3>
      <div id="moto5" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://quatrorodas.abril.com.br/wp-content/uploads/2020/05/QR-CAPA-734-1-e1590618616852.jpg?quality=70&strip=info" class="d-block w-100" alt="foto1">
          </div>
          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyHt1gFPHbyMGI4pgqq6O1-ABr246qS-x3obBzp-jvLCZ-xZm9NyjgnO5Y5QJ6E8LVhYA&usqp=CAU" class="d-block w-100" alt="foto 2">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.motor1.com/images/mgl/YMeZr/s3/video-asi-fue-el-lanzamiento-del-vw-nivus.jpg" class="d-block w-100" alt="foto 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#moto5" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#moto5" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
          <div class="card-body">
            <p class="card-text">    Dimensões: 4.266 mm C x 1.757 mm L x 1.525 mm A
              Volume de carga: 415 l
              Motor: 1,0 l 3 cilindros em linha
              Marca: Volkswagen
              Potência: 128 HP
              <h4> Apartir de:R$ 118.350,00</h4>
        <hr>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-outline-danger" type="button">Comprar</button>
        </div>
          </div>
        </div>
       
    </div>
    




  </div>
</div>




